.wydk-container{
    width: 100%;
}
.navbar{
    position: relative;
    width: 100%;
    height: .8rem;
    margin-top: .3rem;
}

.nav-return{
    margin-top: .12rem;
    position: absolute;
    text-align: center;
    top: 0;
    left: .43rem;
    overflow: hidden;
    line-height: .43rem;
}
.nav-return img{
    width: .25rem;
    height: .43rem;
    float: left;
}
.nav-return span{
    font-size: .17rem;
    color: rgb(2, 121, 251);
    float: left;
    margin-left: .14rem;
    font-weight: bold;
}
.navTitle{
    font-size: .36rem;
    color: rgb(51, 51, 51);
    position: absolute;
    top: .09rem;
    left: 3.06rem;
    font-weight: bold;
}
.sfyz-list{
    overflow: hidden;
    border: .01rem solid #ccc;
    padding: .12rem .3rem .12rem 0;
}
.sfyz-list li{
    float: left;
    margin-left: .18rem;
}
.sfyz-list li:last-child {
    float: right;
}
.sfyz-num{
    display: inline-block;
    line-height: .17rem;
    padding: .1rem;
    text-align: center;
    border: .02rem solid rgb(153, 153, 153);
    border-radius: 50%;
    font-size: .24rem;
    color: rgb(153, 153, 153);
    margin-right: .08rem;
    width: .17rem;
    height: .17rem;    
}
.sfyz-active{
    border: .02rem solid #4c8ce5;
    color: rgb(76, 140, 229);
    
}
.sfyz-list .sfyz-span {
    font-size: .28rem;
    color: rgb(153, 153, 153);
}
.sfyz-list .sfyz-text{
    color: rgb(76, 140, 229);
}
.sfyz-hr{
    width: .6rem;
    height: .02rem;
    background: rgb(153, 153, 153);
    margin-top: 29%;
}
.active-hr{
    color: rgb(76, 140, 229);
}
/* ********************************************************* 身份验证内容******************************************* */
.sfyz-con{
    background: #f5f5f5;
    padding: .31rem .3rem 1.25rem .3rem;
    height: 100%;
    text-align: center;
}
.sfyz-con h2{
    font-size: .28rem;
    color: rgb(128, 128, 128);
}
.cl-list{
    margin-top: .7rem;
    margin-bottom: .32rem;
}
.cl-list li{
    background: #fff;
    width: 5.1rem;
    height: 2.9rem;
    margin: 0 auto;
    padding-top: .4rem;
    margin-top: .4rem;
}
.cl-list li:nth-child(1) {
    margin-top: 0;
}
.cl-list li img{
    width: 3.01rem;
    height: 1.87rem;
}

.cl-list li p{
    font-size: .28rem;
    color: rgb(76, 140, 229);
    margin-top: .27rem;
}
.sfyz-message{
    font-size: .24rem;
    color: rgb(76, 140, 229);
    text-align: left;
    width: 5.1rem;
    margin: 0 auto;
}
.edit-ipt{
    position: relative;
    width: 5.1rem;
    margin: .13rem auto .52rem auto;
    text-align: left;
    background: #fff;
}
.edit-ipt input{
    width: 4.4rem;
    height: .55rem;
    padding-left: .05rem;
    border: none;
}
.edit-ipt img{
    width: .37rem;
    height: .37rem;
    position: absolute;
    top: 11%;
    right: 2%;
}
.next-btn{
    background: url("../images/next-bg_10.png") 0 0 no-repeat;
    background-size: 100% 100%;
    width: 3.9rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    font-size: .28rem;
    color: #fff;
    margin: 0 auto;
}