body{
	
}
.mui-table-view li{
	overflow: hidden;
	height: 55px;
	line-height: 33px;
}
.mui-table-view li div{
	float: left;
	font-size: .3rem;
	font-weight: bold;
}

.mui-table-view li .btnGroup{
	float: right;
	color: #f25445;
	font-size: .25rem;
	font-weight: normal;
}
.mui-table-view li .successBtnGroup{
	color: #4c8ce5;
}
