.mui-content{
	margin-bottom: 1rem;
}
.productList {
	padding-left: 6%;
	margin-bottom: 0;
    margin-top: 8px;
}
.productList li{
	list-style-type: none;
	margin-top: 3%;
}
.product-title{
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.product-title .product-hr{
	display: inline-block;
	width: 30px;
	height: 1px;
	background: #000;
	margin-bottom: 6px;
}
.titleFont{
	display: inline-block;
	margin: 0 6px;
    font-size: .32rem;
}

.productIntro{
	color: rgb(102, 102, 102);
	font-size: .28rem;
}
.productIntro ul{
	padding-left: 0;
}
.loanInten{
	width: 100%;
	height: 6%;
	line-height: 6%;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	position: fixed;
	bottom: 0;
	left: 0;
    font-size: .3rem;
}
.mask{
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, .6);
	position: fixed;
	top: 0;
	left:0;
	z-index: 10;
	display: none;
}
.product-alert{
	width: 86%;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: -43%;
	z-index: 999;
	font-size: 14px;
	display: none;
}
.mui-input-group{
	-webkit-border-radius: .15rem;
	-moz-border-radius: .15rem;
	border-radius: .15rem;
	padding: .2rem 0;
}
.mui-input-row input::-webkit-input-placeholder{
	font-size: 14px;
}

.mui-input-row label{
	padding: 15px;
}
.product-alert label{
	width: 40%;
}
.affirmBtn{
	margin-top: .25rem;
	width: 30%;
}
.product-alert .floatLeft{
	float: left;
}
.product-alert .mui-input-clear{
	float: left;
    width: 56%;
}
.btnBox{
	text-align: center;
}
