.mch-con{
    min-width: 1181px;
    width: 1181px; 
    margin: 0 auto;
    background: #fff;
    padding-bottom: 40px;
}
.mchCon-top{
    height: 41px;
    line-height: 41px;
    position: relative;
    box-shadow: 0px 2px 6px #ccc;
}
.imgNews{
    margin-top: 15px;
    padding: 0 21px;
}
.mchConTop-left{
    position: absolute;
    top: 8px;
    left: 21px;
    height: 25px;
    line-height: 25px;
    border-radius: 12px;
    padding: 0 10px;
}
.mchConTop-left span{
    background: url("../images/newPosition.png") 0 3px no-repeat;
    padding-left: 22px;
    font-size: 14px;
    color: #3084E4;
    font-family: "MicrosoftYaHei";
}
.mchConTop-right{
    position: absolute;
    top: 8px;
    right: 21px;
}
.mchConTop-right p{
    background: url("../images/date_03.png") 0 3px no-repeat;
    padding-left: 25px;
    line-height: 22px;
    font-size: 14px;
    color: #737880;
}
.mch-color{
    color: #3084e4;
}
/* ******************************************** 图片新闻轮播******************************************* */
.imgNews-left{
    position: relative;
    width: 710px;
    height: 420px;
    overflow: hidden;
    display: inline-block;    
}

.imgNews-swiper-btn li{
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 39px;
    background: rgba(0, 0, 0, .5);
    border-radius: 50px;
    cursor: pointer;
}
.imgNews-swiper-btn li img{
    width: 14px;
    height: 26px;
}
.imgNews-swiper-prev{
    position: absolute;
    top: 50%;
    margin-top: -21px;
    left: 11px;
    z-index: 10;
}
.imgNews-swiper-next{
    position: absolute;
    top: 50%;
    margin-top: -21px;
    right: 11px;
    z-index: 10;
}
.imgNewsTitle{
    width: 552px;
    position: absolute;
    bottom: 10px;
    left: 0;
    background: rgba(0, 0, 0, .5);
    padding: 10px 0 10px 22px;
}
.imgNewsTitle p:nth-child(1) {
    font-size: 16px;
    color: #fff;
}
.imgNewsTitle p:nth-child(2) {
    font-size: 14px;
    color: #ccc;
    margin-top: 8px;
}
.imgNews-container .pageSwiper{
    position: absolute;
    bottom: 15px;
    left: 573px;
    width: 136px;
}
.pageSwiper span{
    background: #D1E4FB;
    width: 11px;
    height: 11px;
}
.pageSwiper .swiper-pagination-bullet-active{
    background: #3084e4;
}
/* *******************************工作动态************************************** */
.imgNews-right{
    float: right;
    background: #F2F8FF;
    width: 409px;
    height: 421px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.imgNewsRight-top{
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    padding: 0 10px 0 7px;
}
.imgNewsTop-title{
    float: left;
    background: url("../images/fj_03.png") 0 14px no-repeat;
    padding-left: 37px;
    font-size: 20px;
    color: #363A40;
}
.imgNewsTop-title span{
    color: #B6CDF2;
    margin-left: 4px;
}
.imgNewsRight-more a{
    float: right;
    font-size: 22px;
    color: #3084E4;
}

/* ****************************************工作动态上下轮播***************************************/
.newSwiper{
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 10;
    width: 406px;
    height: 121px;
    background: #fff;
    margin-left: -203px;
    box-shadow: 0px 0px 12px 2px #e9eef5;
}
.swiper-container2{
    width: 406px;
    height: 121px;
    overflow: hidden;
}
.swiper-slide{
    /* overflow: hidden; */
    position: relative;
}
.newSwiperSlide-left{
    float: left;
    padding-left: 19px;
    padding-top: 4px;
}
.newSwiperSlide-left span{
    display: block;
}
.newSwiperDate{
    font-size: 49px;
    color: #3084E4;
}
.newSwiperYear{
    font-size: 16px;
    color: #3084E4;
}
.newSwiperSlide-right{
    float: right;
    border-left: 2px solid #B7D3F3;
    padding-left: 11px;
    width: 293px;
    height: 80px;
    margin: 21px 6px 20px 0;
}
.newSwiperSlide-right h2{
    font-size: 16px;
    color: #404040;
    width: 265px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.newSwiperSlide-right p{
    width: 265px;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: pre-wrap;
    margin-top: 8px;
}
.trigon{
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 36px solid #3084e4;
    border-left: 36px solid transparent;
    color: #fff;
    text-align: center;
    width: 0;
    height: 0;
}
.trigon span{
    position: absolute;
    bottom: -33px;
    right: 3px;
}

/* ************************************ 工作动态  ---- 新闻列表******************************** */
.newList{
    padding: 0 10px 0 7px;
    margin-top: 134px;
}

.newList li{
    overflow: hidden;
    background: url("../images/indexyd.png") 0 17px no-repeat;
    padding-left: 13px;
    line-height: 38px;
    cursor: pointer;
}

.newText{
    float: left;
    width: 280px;
    font-size: 14px;
    color: #595959;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.newDate{
    float: right;
    font-size: 14px;
    color: #b3b3b3;
}
.newList li:hover{
    background: url("../images/yd-active_06.png") 0 17px no-repeat;
}

.newList li:hover span{
    font-size: 16px;
    color: #3084E4;
}

/* **************************************** 横向滚动新闻************************************* */
.hxgdNew{
    position: relative;
    background: #3084E4;
    height: 37px;
    line-height: 37px;
    width: 1139px;
    margin: 24px auto;
    border-radius: 18px;
}
.hxgdNew:after{
    height: 0;
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.hxgdBgImg{
    width: 51px;
    height: 51px;
    text-align: center;
    line-height: 51px;
    background: #fff;
    border-radius: 50px;
    position: absolute;
    left: 20px;
    top: -7px;
    box-shadow: 0 0 8px 2px #e2e8f2;
    z-index: 99;
}
.hxgdBgImg img{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14px;    
    margin-left: -12px;
}
#scroll-div{
    width: 1079px;
    height: 37px;
    overflow: hidden;
}
#scrollDiv{
    width:1000px;
    height: 37px;
    margin-left: 94px;
    overflow: hidden;
    position: relative;
}
#hxgdCon {
    width: 9999px;
    height: 37px;
    overflow: hidden;
    position:absolute;
}
#scrollEnd{
    margin-left: 20px;
}
#hxgdCon:after{
    height: 0;
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
}
#scrollEnd:after{
    height: 0;
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
}
#hxgdCon li, #scrollEnd li{
    position: relative;
    height: 37px;
    line-height: 37px;
    float: left;
    margin-left: 20px;
}
#hxgdCon li a:hover{
    border-bottom: 1px solid #fff;
}
#scrollEnd li a:hover{
    border-bottom: 1px solid #fff;
}

#hxgdCon li:nth-child(1) {
    margin-left: 0;
}
#scrollEnd li:nth-child(1) {
    margin-left: 0;
}

.hxgdImg{
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #C1DBF9;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    margin-top: -3px;
}
.hxgdText{
    font-size: 14px;
    color: #fff;
    margin-left: 11px;

}
.hxgdData{
    font-size: 12px;
    color: #B8D4F5;
    margin-left: 13px;
}
.hxgdMore{
    position: absolute;
    bottom: 0;
    right: 0;
}
.hxgdMore a{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    float: right;
    margin-right: 20px;
}
/* ******************************* 专家观点********************/
.zjgdAndktxm{
    width: 1139px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 21px;
}
.zjgd{
    float: left;
    width: 669px;
    padding: 0 11px 24px 11px;
}
.zjgd-title{
    background: url(../images/zjgd_03.png) 0 14px no-repeat;
    padding-left: 29px;
    font-size: 18px;
    color: #363A40;
}
.zjgdTop{
    padding: 0;
    margin-bottom: 13px;
    border-bottom: 3px solid #fff;
}
.zjgdList{
    overflow: hidden;
}
.zjgdList1{
    float: left;
    width: 300px;
}
.zjgdList2{
    float: right;
}
.zjgdItemLeft-top{
    background: url("../images/indexyd.png") 0 13px no-repeat;
    padding-left: 14px;
    font-size: 14px;
    color: #4D4D4D;
    width: 286px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 26px;  
}
.zjgdList1 li{
    margin-top: 13px;
}

.zjgdList1 li:nth-child(1) {
    margin-top: 0;
}

.zjgdList1 li:hover p{
    background: url("../images/yd-active_06.png") 0 13px no-repeat;
    color: #3084e4;
}

/* 专家观点 -- 视屏区 */
.videoList{
    overflow: hidden;
    padding: 14px 0;
    margin-top: 4px;
}
.videoList li{
    float: left;
    /* width: 217px; */
    box-shadow: 0 0 10px -1px #ccc;
    margin-left: 12px;
}
.videoList li:nth-child(1) {
    margin-left: 0;
}
.videoImg{
    width: 151px;
    height: 91px;
    float: left;
}
.videoList-right{
    float: left;
    margin-left: 17px;
    margin-top: 13px;
    margin-right: 15px;
}
.videoList-right a{
    display: inline-block;
}
.videoList-right img{
    width: 30px;
    height: 31px;
}
.videoList-right p{
    font-size: 12px;
    color: #333;
    margin-top: 14px;
}
/* ******************************** 课题项目*********************************** */
.ktxm{
    float: right;
    width: 409px;
    background: #F2F8FF;
    padding: 0 11px 14px 11px;
}

.ktxmItem{
    overflow: hidden;
}
.ktxmItem-left{
    float: left;
    width: 409px;
}
.ktxmTop{
    padding: 0;
    border-bottom: 3px solid #fff;
    margin-bottom: 13px;
}
.ktxmItemLeft-top{
    background: url("../images/indexyd.png") 0 13px no-repeat;
    padding-left: 14px;
    font-size: 14px;
    color: #595959;
    width: 396px;
    overflow: hidden;
    line-height: 31px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ktxmList li{
    margin-top: 13px;
}

.ktxmList li:nth-child(1) {
    margin-top: 0;
}
.ktxmItemTop-active{
    background: url("../images/yd-active_06.png") 0 8px no-repeat;
    color: #3084e4;
}

.ktxmItem-right{
    float: right;
    text-align: center;
    background: #D9EAFC;
    border-radius: 10px;
    padding: 10px 12px;
}

.ktxmList li:hover p{
    background: url("../images/yd-active_06.png") 0 13px no-repeat;
    color: #3084e4;
}
/* **************************** 研究成果 和 专家介绍*************************** */
.yjcg-title{
    background: url("../images/yjcg_03.png") 0 3px no-repeat;
}

.yjcg-left{
    display: inline-block;
    text-align: center;
    margin-left: 42px;
}
.yjcg-left:nth-child(1) {
    margin-left: 0;
}
.yjcgTop{
    overflow: hidden;
    padding: 10px 10px 10px 74px;
}
.xslwImg{
    float: left;
    width: 51px;
    height: 51px;
    line-height: 51px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 10px 2px #ccc;
}
.xslwImg img{
    width: 22px;
    height: 28px;
}
.xslwImg-desc{
    float: left;
    text-align: left;
    margin-left: 20px;
}
.xslwImg-desc p:nth-child(1) {
    font-size: 16px;
    color: #404040;
    margin-bottom: 3px;
}
.xslwImg-desc p:nth-child(2) {
    font-size: 12px;
    color: #666;
}
.xslwSwiper{
    width: 306px;
    height: 130px;
    position: relative;
    overflow: hidden;
}

.xslwSwiper-list li a{
    background: url(../images/indexyd.png) 0 8px no-repeat;
    padding-left: 14px;
    font-size: 14px;
    color: #595959;
}
.xslwSwiper-list li{
    width: 302px;
    overflow: hidden;
    line-height: 31px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.xslwSwiper-list li a:hover{
    background: url("../images/yd-active_06.png") 0 8px no-repeat;
    color: #3084e4;
}
.xslwSwiper .xslwSwiperPagev{
    position: absolute;
    width: 100px;
    bottom: 31px;
    left: 0;
}

/* ****************************** 渐变切换人物*************************** */
.zjjsMargin{
    padding: 0 11px 5px 11px;
}
.swiper-container5{
    width: 410px;
    height: 215px;
    overflow: hidden;
}
.peopleList{
    padding: 0 21px;
    overflow: hidden;
}
.peopleList li{
    float: left;
    position: relative;
    cursor: pointer;
    margin-left: 39px;
}
.peopleList li:hover .hoverShow{
    display: block;
}
.peopleList li:nth-child(1) {
    margin-left: 0;
}
.imgGroup{
    width: 151px;
    height: 218px;
    overflow: hidden;
    position: relative;
}
.imgGroup img{
    width: 151px;
    height: 188px;
}
.imgGroup h2{
    width: 155px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: #3084E4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 11px;
    left: -2px;
    z-index: 10;
}
.hoverShow{
    width: 135px;
    height: 188px;
    line-height: 188px;
    text-align: center;
    padding: 0 8px;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .78);
    z-index: 9;
    border-radius: 5px;
    display: none;
}
.hoverShow p{
    font-size: 14px;
    color: #0852C1;
    margin-top: 81px;
    width: 130px;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/* *****************************************学术活动********************************* */
.xshdCon{
    width: 1120px;
    margin: 0 auto;
    margin-top: 17px;
    background: #F2F8FF;
}
.xshd-title{
    background: url(../images/xshd_03.png) 0 15px no-repeat;
    padding-left: 29px;
}
#xsActivity{
    width: 1120px;
}
.xshdDiv{
    width: 1120px;
    height: 160px;
    overflow: hidden;
    position: relative;
}
.xshdList{
    overflow: hidden;
    width: 9999px;
    height: 160px;
    position: absolute;
    top: 0;
}
.xshdList li{
    float: left;
    width: 217px;
    margin-left: 19px;
}
.xshdList li:nth-child(1) {
    margin-left: 0;
}
.xshdList li img{
    width: 217px;
    height: 121px;
    cursor: pointer;
}
.xshdList li h2{
    width: 100%;
    background: #fff;
    text-align: center;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #595959;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.xshdList li .activeH2{
    background: #3084E4;
    color: #fff;
}