.container{
    background: url("../images/bg.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    min-height: 14.14rem;
    text-align: center;
}
.activityList{
    padding-top: 2.39rem;
    padding-bottom: .78rem;
}
.activityList .list-item{
    padding: .2rem .87rem .35rem 1rem;
    text-align: left;
    height: 1.31rem;
}
.activityList .list-item:nth-child(1){
    background: url("../images/img1_03.png") 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.activityList .list-item:nth-child(2){
    background: url("../images/img2_06.png") 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.activityList .list-item:nth-child(3){
    background: url("../images/03.png") 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.activityList .list-item:nth-child(4){
    background: url("../images/04.png") 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.activityList .list-item:nth-child(5){
    background: url("../images/05.png") 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.activityList .list-item:nth-child(6){
    background: url("../images/06.png") 0 0 no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.activityList li h2{
    font-size: .28rem;
    color: #333;
    margin-bottom: .15rem;
}
.activityList li p{
    font-size: .24rem;
    color: #666;
    text-align: left;
    margin: .05rem 0;
}
.activityDate li{
    display: inline-block;
    margin-left: .31rem;
}
.activityDate li:nth-child(1) {
    margin-left: 0;
}