#content{
    background: #f9f8f6;
}
.secondCon{
    width: 1180px;
    margin: 0 auto;
    padding: 40px 0 60px 0;
}
.secondCon:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
}
.secondConLeft{
    float: left;
}
.secondConLeft .secondConTitle{
    font-size: 24px;
    color: #0081cc;
    margin-bottom: 20px;
}
.secondList li{
    width: 178px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    border-bottom: 1px solid #dbd4cc;
}
.secondList li span{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 5px solid #000;    
    border-top: 5px solid rgba(0, 0, 0, 0);    
    border-bottom: 5px solid rgba(0, 0, 0, 0);    
    border-right: 5px solid rgba(0, 0, 0, 0);    
}
.secondList .active span{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 5px solid #fff;    
    border-top: 5px solid rgba(0, 0, 0, 0);    
    border-bottom: 5px solid rgba(0, 0, 0, 0);    
    border-right: 5px solid rgba(0, 0, 0, 0);
}
.secondList .active{
    background: #0081cc;
}
.secondList .active a{
    color: #fff;
}
.secondList li a{
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin-left: 8px;
}

.secondList li a:hover{
    text-decoration: none;
}

.secondList li:hover {
    background: #0081cc;
}
.secondList li:hover span{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 5px solid #fff;    
    border-top: 5px solid rgba(0, 0, 0, 0);    
    border-bottom: 5px solid rgba(0, 0, 0, 0);    
    border-right: 5px solid rgba(0, 0, 0, 0);
}
.secondList li:hover a{
    color: #fff;
    
}

/***********************************secondConRight*****************************************/
.secondConRight{
    float: left;
    margin-left: 47px;
}
.secondConRight h2{
    font-size: 22px;
    color: #1a1a1a;
    margin-bottom: 40px;
    font-weight: bold;
}
.secondConRight-con{
    padding: 50px 40px 60px 40px;
    text-align: center;
    background: #fff;
    width: 920px;
}
.secondConRight-con h3{
    font-size: 21px;
    color: #333;
    font-weight: bold;
    overflow: hidden;
}
.secondRightImg{
    width: 372px;
    height: 247px;
    margin: 30px auto 45px auto;
}
.secondRightImg::after{
    height: 0;
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}
.secondRightImg img{
    width: 372px;
    height: 247px;
    float: left;
}
.secondRightText p{
    font-size: 14px;
    color: #545454;
    text-align: left;
}
.secondRightText .textBottom{
    margin: 3px auto 40px auto;
}
.secondRightBottom:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}
.secondRightBottom div{
    float: left;
}
.secondVideo{
    /* background: url("../images/videoBg.jpg") 0 0 no-repeat; */
    /* background-size: 100% 100%; */
    width: 462px;
    height: 283px;
}
.secondErCode{
    margin-left: 51px;
}
.secondEr:after{
    height: 0;
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}
.secondEr li{
    float: left;
}
.secondEr li h3{
    font-size: 16px;
    color: #545454;
    margin-top: 18px;
}
.secondEr .erRight-li{
    margin-left: 21px;
}
.secondErCode .erDesc{
    width: 324px;
    font-size: 14px;
    color: #545454;
    text-align: left;
    margin-bottom: 0px;
    letter-spacing: .7px;
}