#content{
    background: #f9f8f6;
}
.secondCon{
    width: 1180px;
    margin: 0 auto;
    padding: 40px 0 60px 0;
}
.secondCon:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
}
.secondConLeft{
    float: left;
}
.secondConLeft .secondConTitle{
    font-size: 24px;
    color: #0081cc;
    margin-bottom: 20px;
}
.secondList li{
    width: 178px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    border-bottom: 1px solid #dbd4cc;
}
.secondList li span{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 5px solid #000;    
    border-top: 5px solid rgba(0, 0, 0, 0);    
    border-bottom: 5px solid rgba(0, 0, 0, 0);    
    border-right: 5px solid rgba(0, 0, 0, 0);    
}
.secondList .active span{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 5px solid #fff;    
    border-top: 5px solid rgba(0, 0, 0, 0);    
    border-bottom: 5px solid rgba(0, 0, 0, 0);    
    border-right: 5px solid rgba(0, 0, 0, 0);
}
.secondList .active{
    background: #0081cc;
}
.secondList .active a{
    color: #fff;
}
.secondList li a{
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin-left: 8px;
}

.secondList li a:hover{
    text-decoration: none;
}

.secondList li:hover {
    background: #0081cc;
}
.secondList li:hover span{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 5px solid #fff;    
    border-top: 5px solid rgba(0, 0, 0, 0);    
    border-bottom: 5px solid rgba(0, 0, 0, 0);    
    border-right: 5px solid rgba(0, 0, 0, 0);
}
.secondList li:hover a{
    color: #fff;
    
}

/***********************************secondConRight*****************************************/
.secondConRight{
    float: left;
    margin-left: 47px;
}
.secondConRight h2{
    font-size: 22px;
    color: #1a1a1a;
    margin-bottom: 40px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}
.secondConRight-con{
    padding: 50px 40px 60px 40px;
    width: 920px;
    background: #fff;
}

.dshcyShow .dshcyName{
    font-size: 21px;
    color: #0081cc;
    margin: 0;
}

.dshcyShow .dshcyPosition{
    font-size: 16px;
    color: #333;
    margin: 20px 0;
}
.displayul{
    height: 350px;
    overflow: hidden;   
}
.displayul .displayNone{
    display: none;
}
.displayul .displayBlock{
    display: block;
}

.dshcyText{
    overflow: hidden;
}
.dshcyText p{
    width: 606px;
    float: left;
    margin-right: 78px;
    font-size: 14px;
    color: #545454;
    line-height: 25px;
}
.dshcyText img{
    width: 153px;
    height: 218px;
    float: left;
}

.dszBoxTitle .lzm{
    font-size: 24px;
    color: #333;
    cursor: pointer;
}
.dshcyShow .activeName{
    color: #0081cc;
}
.dszBoxTitle .lzmdsz{
    font-size: 18px;
    color: #4c4c4c;
    margin-left: 83px;
}
.dszBoxFoot span{
    font-size: 16px;
    color: #4d4d4d;
}

.persons{
    overflow: hidden;
}
.persons ul{
    float: left;
}
.persons ul li{
    width: 400px;
    float: left;
    margin-top: 30px;
    background: #efefef;
    padding: 39px 27px 31px 30px;
}
.persons ul .presonMarginLeft{
    margin-left: 40px;
}

.dszBoxBg{
    display: inline-block;
    background: url("../images/jthui_03.png") 0 0 no-repeat;
    width: 18px;
    height: 16px;
    cursor: pointer;
    margin-left: 100px;
    float: right;
}
.dszBoxBgActive{
    background: url("../images/xsjt_07.png") 0 0 no-repeat;
}
.personDesc{
    overflow: hidden;
    width: 336px;
    font-size: 16px;
    line-height: 16px;
}
.personDesc .personName{
    float: left;
    font-size: 16px;
    color: #4c4c4c;
    cursor: pointer;
}

