.banner1{
    background: url("../images/banner5.jpg") 0 0 no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 450px;
}
.middle{
    width: 1180px;
    margin: 20px auto 30px auto;
    overflow: hidden;
}
.middle li:nth-child(1) {
    margin-left: 0;
}
.midList{
    width: 382px;
    float: left;
    margin-left: 17px;
}
.list-con p{
    background-size: 97% 97%;
    width: 382px;
    height: 210px;
    margin: 5px 5px 5px 5px;
}
.tp1{
    background: url("../images/gonggao.jpg") 0 0 no-repeat;
}
.tp2{
    background: url("../images/dingqi.jpg") 0 0 no-repeat;
}
.tp3{
    background: url("../images/guanzhi.jpg") 0 0 no-repeat;
}


.title{
    width: 344px;
    height: 31px;
    line-height: 31px;
    margin: 34px 13px 13px 13px;
    overflow: hidden;
}
.fontTitle{
    font-family: bold;
    font-size: 21px;
    color: #333;
    float: left;
    font-weight: bold;
}
.fontTitle1{
    font-family: bold;
    font-size: 16px;
    color: #333;
    float: left;
}
.fontColor{float: right;}
.fontColor a{
    font-size: 14px;
    color: #999;
}
.newsList{
    width: 382px;
    height: 374px;
    margin: 0 auto;
    border: 1px solid #d8d8d8;
}

.newsList a{
    font-size: 14px;
    color: #333;
}
.newsList li{
    margin-top: 4px;
    margin-left: 30px;
}
.newsList li::hover{
    color: #4c87d1;
}
.floatLeft{
    overflow: hidden;
}
.marginSpan{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}
.midList-top, .midList-bottom{
    background: #f7f7f7;
}
.gutitle{
    overflow: hidden;
}

.gutitle .gufontTitle{
    padding: 20px;
    font-size: 21px;
    font-weight: bold;
    float: left;
    padding: 17px 18px 13px 18px;
}
.gufontColor{
    float: right;
    padding: 17px 18px 13px 18px;
}
.gufontColor a{
    font-size: 14px;
    color: #999;
}
.gutitle .guinfo{
    font-size: 16px;
    padding: 20px 19px 30px 19px;
}
.midList-bottom{
    margin-top: 10px;
}
.mid-top-title{
    width: 100%;
    height: 34px;
    line-height: 34px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    background: #f0f0f0;
}
.middle .mid-top-title li{
    float: left;
    margin: 0 18px;
    color: #0180cb;
    font-size: 14px;
}
.shares{
    overflow: hidden;
    padding-bottom: 3px;
}
.middle .shares .share-list{
    float: left;
    font-size: 12px;
    color: #333;
    margin-left: 46px;
}
.shareList-ul li{
    margin: 8px 0;
}
.subsidiary{
    margin-top: -3px;
    overflow: hidden;
    padding: 0 20px 10px 20px;
}
.middle .subsidiary .sub-list{
    float: left;
    /* margin: 0 12px; */
}
.middle .subsidiary .sub-list1{
    margin-right: 50px;
}
.middle .subsidiary .sub-list2{
    margin-right: 17px;
}
.middle .subsidiary .sub-list3{
    margin-right: 30px;
}
.middle .subsidiary .sub-list4{
    margin-right: 17px;
}
.subList-ul li{
    margin: 10px 0;
    font-size: 14px;
}
.title-ywly{
    width: 1180px;
    margin: 0 auto;
    font-size: 21px;
    color: #333;
    font-weight: bold;
}
.ywly{
    width: 1180px;
    margin: 30px auto;
    overflow: hidden;
}
.ywly li{
    width: 280px;
    float: left;
    margin-left: 20px;
    position: relative;
}
.ywly .nonMargin{
    margin-left: 0px;
}
.nonMargin img{
    float: left;
    width: 281px;
    height: 470px;
}
.mask{
    position: absolute;
    background: rgba(0, 0, 0, .2);
    width: 280px;
    height: 127px;
    text-align: center;
    color: #fff;
    font-size: 23px;
    top: 50%;
    margin-top: -63.5px;
    padding-top: 20px;
    cursor: pointer;
}
.mask .zsj{
    border-bottom: 2px solid #fff;
}
.mask p{
    margin-top: 3px;
}
.qxqy{
    width: 1180px;
    margin: 0 auto 30px auto;
    background: #f0f0f0;
    padding: 20px 0;

}
.qxqy{
    width: 1180px;
    margin: 30px auto;
    overflow: hidden;
    padding: 40px 0px;
}
.qxqy li{
    background: url(../images/hui.png) 0 0 no-repeat;
    margin: 0 36px;
    float: left;
    height: 32px;
    line-height: 32px;
    padding-left: 40px;
    font-size: 21px;
    font-family: "FZDHTJW-GB1-0";
    color: #4d4d4d;
    cursor: pointer;
}
