#content{
    background: #f9f8f6;
    padding-bottom: 60px;
}
.secondCon{
    width: 1180px;
    margin: 0 auto;
    padding-top: 40px;
}
.secondCon:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
}
.secondConLeft{
    float: left;
}
.secondConLeft .secondConTitle{
    font-size: 24px;
    color: #0081cc;
    margin-bottom: 20px;
}
.secondList li{
    width: 178px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    border-bottom: 1px solid #dbd4cc;
}
.secondList li span{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 5px solid #000;    
    border-top: 5px solid rgba(0, 0, 0, 0);    
    border-bottom: 5px solid rgba(0, 0, 0, 0);    
    border-right: 5px solid rgba(0, 0, 0, 0);    
}
.secondList .active span{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 5px solid #fff;    
    border-top: 5px solid rgba(0, 0, 0, 0);    
    border-bottom: 5px solid rgba(0, 0, 0, 0);    
    border-right: 5px solid rgba(0, 0, 0, 0);
}
.secondList .active{
    background: #0081cc;
}
.secondList .active a{
    color: #fff;
}
.secondList li a{
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin-left: 8px;
}

.secondList li a:hover{
    text-decoration: none;
}

.secondList li:hover {
    background: #0081cc;
}
.secondList li:hover span{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 5px solid #fff;    
    border-top: 5px solid rgba(0, 0, 0, 0);    
    border-bottom: 5px solid rgba(0, 0, 0, 0);    
    border-right: 5px solid rgba(0, 0, 0, 0);
}
.secondList li:hover a{
    color: #fff;
    
}

/***********************************secondConRight*****************************************/
.secondConRight{
    float: left;
    margin-left: 47px;
}
.secondConRight h2{
    font-size: 22px;
    color: #1a1a1a;
    margin-bottom: 40px;
    font-weight: bold;
}
.secondConRight-con{
    width: 920px;
    padding: 30px 30px 60px 30px;
    background: #fff;
}
.zsjList{
    margin-bottom: 0px;
}
.zsjList li{
    border: 2px solid #e6e6e6;
    overflow: hidden;
}
.zsjList li div{
    
}
.zsjLeft{
    overflow: hidden;
    float: left;
}
.zsjLeft img{
    float: left;
    width: 420px;
    height: 209px;
}
.zsjRight{
    float: right;
    margin-left: 30px;
    width: 406px;
}
.zsjRight h2{
    margin-bottom: 20px;
    color: #0081cc;
    font-size: 26px;
    margin-top: 13px;
}
.zsjRight h3{
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
.zsjRight p{
    font-size: 14px;
    color: #545454;
    margin-right: 15px;
    margin-bottom: 0px;
}
.zsjRight a{
    font-size: 14px;
    color: #0081cc;
}
.zsjList li{
    margin-top: 20px;
}
.zsjRight .noMargin{
    margin-top: 0;
}
.page{
    margin: 30px auto 0px auto;
    overflow: hidden;
    width: 190px;
    text-align: center;
}
.page li{
    float: left;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 16px;
    color: #b3b3b3;
    border: 1px solid #e6e5e3;
    background: #fff;
    margin: 0 4px;
}
.page .selectActive{
    background: #0081cc;
    color: #fff;
}